[include]
	path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
